.Home {
    padding: 50px 0;
    &-header{
        margin-bottom: 50px;        
    }
    &-recipes{
        margin-bottom: 10px;
        max-height: 500px;
        overflow-y: scroll;        
        padding-right: 10px;
        scrollbar-width: thin;
    }
}