.Checkbox {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  &.ignore-events {
    pointer-events: none;
  }
  &-icon {
    border: 1px solid $gray-text;
    border-radius: 50%;
    color: $primary-color;
    cursor: pointer;
    font-size: 12px;
    height: 20px;
    line-height: 18px;
    margin-right: 8px;
    text-align: center;
    width: 20px;
  }
  &-label {
    color: $gray-text;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 0;
  }
}
